body {
  background-color: #f2f2f2;
  position: relative;
  min-height: 100vh;
}
#main {
  position: relative;
  min-height: 100vh;
}

#carCardPos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  gap: 0em;
  width: 80%;
  height: 480px;
  margin-top: 1.5em;
}

.foot {
  height: 50px;
  width: 100%;
  background: black;
  width: 100%;
  margin-top: 1em;
  padding-top: 0.5em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
}

.tittle {
  margin-left: 3em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1px;
  color: #373737;
}

#filters {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #d8d8d8;
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .tittle {
    margin-left: 1em;
    font-size: 35px;
  }
  .foot {
    top: 1950px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
  .tittle {
    margin-left: 1em;
    font-size: 35px;
  }
  .foot {
    top: 1950px;
  }
}

@media screen and (min-width: 700px) and (max-width: 840px) {
  .tittle {
    margin-left: 2em;
  }
  .foot {
    top: 1100px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
  .tittle {
    margin-left: 2em;
  }
}
